h1 {
  font-size: 34;
  text-align: left;
  color: green;
  font-family: "Times New Roman";
  margin: 20px 5px;
}

h2 {
  font-size: 26;
  text-align: left;
  color: green;
  font-family: "Times New Roman";
  margin: 10px 5px;
}

p {
  font-size: 12;
  text-align: left;
  color: black;
  font-family: "Courier";
  margin: 10px 5px;
}

span {
  color: red;
}
