body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.score {
    text-align: center;
}

.glyphicon {
    text-align: center;
    display: block;
}

.middleth {
    text-align: center;
}