h1 {
  color: black;
  font-size: 28px;
}

p {
  padding-left: 15px;
  font-size: 18;
  font-weight: normal;
  width: 300px;
  border-left-style: solid;
  border-color: black;
  border-width: 2px;

}
 p:hover {
   background-color: orange;
 }
